html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

    body.container
        h2 Login
        p= msg
        form(name="loginForm",action="/user/profile",method="POST").forn-group
            label(for="username") Username
            input(type="text",placeholder="Username" name="username",id="username").form-control
            label(for="password") Password
            input(type="password",placeholder="Password", name="password",id="password").form-control
            br
            button(type="submit").btn.btn-primary login
        
        p Don't Have an Account?
            a(href="/auth/register") Register Here
        p 
            a(href="/forgot-password") Forgot Password
