html
    head
        title JS
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

    body.container
        h2 Register
        p Please provide necessary details to register your account
        form(name="loginForm",method="POST").forn-group
            label(for="Name") Name
            input(type="text",placeholder="Name", name="name",id="Name").form-control
            label(for="Email") Email
            input(type="Email",placeholder="Email", name="email",id="Email").form-control
            label(for="username") Username
            input(type="text",placeholder="Username", name="username",id="username").form-control
            label(for="password") Password
            input(type="password",placeholder="Password", name="password",id="password").form-control
            br
            button(type="submit").btn.btn-primary Register
        
        p Already Registered?
            a(href="/auth/login") back to login
